/*#note{
  width:60px;
  height: 100px;
}*/
.hide
{
    display: inline-block;
}
#keepClass{
    font-family: 'Product Sans',Arial,sans-serif; /*NTEGRATE THE FONT INTO YOUR CSS*/
    /*margin-top: 10px;*/
    font-size: 22px;
    position: relative;
    /*margin-top: -3px;*/
    /*margin-top: -3px;*/
    display: inline-block;
    padding-left: 8px;
    vertical-align: middle;
    vertical-align: middle;
    color: white;
    outline: none;
}

#popupTitle:empty:before{
    display: block;
    content: attr(placeholder);
}

#popupContent:empty:before
{
    display: block;
    /*[contenteditable=true]:empty:before{*/

    content: attr(placeholder);
}

#dummyTitle:empty:before{
    display: block;
    content: attr(placeholder);
}

#title1:empty:before
{
    display: block;

    content: attr(placeholder);
}
::-webkit-div-placeholder
{
    color: red;
}
#content:empty:before
{
    display: block;

    content: attr(placeholder);
}
#msgDivId
{
    /*margin : 8px;*/
    width: 70%,
    background-color:rgba(204, 204, 204, .28);
}
/*-webkit-box-sizing: border-box;
box-sizing: border-box;*/
/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);*/
/*overflow: hidden;
position: relative;*/
/*-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-transition-duration: .218s;
transition-duration: .218s;
-webkit-transition-property: background,opacity,-webkit-box-shadow,-webkit-transform;*/
/*transition-property: background,opacity,box-shadow,transform;*/
/*-webkit-transition-timing-function: ease-in;
transition-timing-function: ease-in;*/

#dummyTitle{
    line-height: 19px;
    width: 90%;
    height: 44px;
    margin-top: 63px;
    padding: 12px 15px 15px 15px;
    transition: box-shadow 200ms cubic-bezier(.4, .0, .2, 1);
    vertical-align: top;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    /*color: rgba(0,0,0,.54);*/
    /*position: absolute;*/
    /*-webkit-box-sizing: border-box;
  box-sizing: border-box;*/
    /*margin-left:7%;width:80%;
overflow: hidden;
position: relative;
transition-property: background,opacity,box-shadow,transform;*/
    /*box-sizing: border-box;*/

    /*min-height: 46px;*/
    /*height: 40px;*/
    /*background-color:white;*/
    /*box-shadow: 2px 2px 5px #888888;*/

}
#notes
{
    margin: 40px 20px 10px 20px;
    /*margin-left:40px;*/
}
#noteMsg
{
    min-height: 100%;
    margin: 8px;

    word-wrap: break-word;

    border: none;
    background-color: white;
    box-shadow: 5px 5px 5px #888;
}
.note-inner
{
    /*border:8px;*/
    /*margin:8px;*/
    position: relative;

    min-height: 100%;

    word-wrap: break-word;
    /*background-color: rgba(204, 204, 204, 0.28);*/
    /*box-shadow: 5px 5px 5px #888888;*/
}

.insidecontent
{
    min-height: 100%;
    margin: 8px;

    word-wrap: break-word;

    border: 1px solid black;
    border: none;
    /*background-color: rgba(204, 204, 204, 0.28);*/
}
.note
{
    overflow: hidden;

    box-sizing: border-box;
    width: 400px;
    margin: 8px;
    /*-webkit-transition-property: background,opacity,-webkit-box-shadow,-webkit-transform;
      transition-property: background,opacity,box-shadow,transform;*/
    margin-left: 100px;

    -webkit-transition-duration: .218s;
            transition-duration: .218s;
    /*margin-left: 20px;*/
    /*border:8px;*/
    word-wrap: break-word;
    /*position: relative;*/

    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    /*box-shadow: 2px 2px 2px #888888;*/
}
.smallNotes
{
    border: 1px solid black;
    box-shadow: 2px 2px 2px #888;
}
.title
{
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-size: 18px;
    /*background-color: rgba(204, 204, 204, 0.28);*/
    font-weight: bold;

    box-sizing: border-box;

    border: none;

    /*font-variant-ligatures: none;
 outline: none;
 white-space: pre-wrap;
 word-wrap: break-word;*/
}
#title1
{
    font-family: 'Roboto',arial,sans-serif;
    font-size: 17px;
    line-height: 19px;

    min-height: 46px;
    padding: 12px 15px 15px 15px;
    /*background-color: rgba(204, 204, 204, 0.28);*/
    /*border:1px solid black;*/

    border: none;
    outline: none;
}
#content
{
    font-family: 'Roboto',arial,sans-serif;
    font-size: 14px;
    line-height: 19px;
    /*min-height: 46px;*/

    padding: 12px 15px 15px 15px;
    /*background-color: rgba(204, 204, 204, 0.28);*/
    /*height: auto;*/

    border: none;
    outline: none;
}
/*#search{
  height:48px;
}*/
/*#writeMsg{
  background-color: rgba(204, 204, 204, 0.28);
}*/
#newtemp1
{
    border: 1px solid;
}
#wrapper
{
    margin-top: 0;
    padding-left: 0;

    -webkit-transition: all .5s ease;     /*change the wrapper' with a smooth transition effect:*/
       -moz-transition: all .5s ease;     /*That div will take 0.5 a second when the mouse is over it to turn from 1color to another color.*/
         -o-transition: all .5s ease;   /*ease define a function that describes how a transition will proceed over its duration, allowing a transition to change speed during its course.*/
            transition: all .5s ease;
}

#wrapper.toggled
{
    padding-left: 250px;
}
.navbar-inverse
{
    border-color: #eee;
    background-color: #eee;
}
#sidebar-wrapper
{
    position: fixed;
    z-index: 1000;
    left: 250px;

    overflow-y: auto;

    width: 0;
    height: 120%;
    margin-left: -250px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    background: rgba(255, 187, 0, .11);
}
.sidebar-nav > .sidebar-brand a
{
    color: grey;
}
#wrapper.toggled #sidebar-wrapper
{
    width: 250px;
}
#page-content-wrapper
{
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper
{
    position: relative;

    margin-right: -250px;
}

/* Sidebar Styles */
ol,
ul
{
    margin-top: 0;
    margin-bottom: 10px;
}

.sidebar-nav
{
    position: absolute;
    top: 0;

    width: 250px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.sidebar-nav li
{
    line-height: 40px;

    text-indent: 20px;
}
.sidebar-nav li a
{
    display: block;

    text-decoration: none;

    color: #080000;
}
.sidebar-nav li a
{
    display: block;

    text-decoration: none;

    color: #999;
}

.sidebar-nav li a:hover
{
    text-decoration: none;

    color: #fff;
    background: rgba(255, 255, 255, .2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus
{
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand
{
    font-size: 18px;
    line-height: 60px;

    height: 65px;
}

.sidebar-nav > .sidebar-brand a
{
    color: grey;
}

.sidebar-nav > .sidebar-brand a:hover
{
    color: #fff;
    background: none;
}

@media (min-width: 320px)
{
    #wrapper
    {
        padding-left: 250px;
    }

    #wrapper.toggled
    {
        padding-left: 0;
    }
    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner
    {
        padding: 3px;
    }
}

/*

  .navbar-inverse .navbar-inner {
      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
      box-shadow: 0 0 0;
      border-width: 0;
  }
*/





@media (min-width: 768px)
{
    #wrapper
    {
        padding-left: 250px;
    }

    #wrapper.toggled
    {
        padding-left: 0;
    }
}

@media (max-width: 700px)
{
    #wrapper
    {
        padding-left: 0;
    }

    #wrapper.toggled
    {
        padding-left: 0;
    }
    #dummyTitle
    {
        width: 115%;
        margin-left: -29px;
    }
    /*.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
          padding: 3px;
        }*/

    /*#done{*/
    /*margin-left:-75px;*/
    /*}*/
    /*#usernavbar{
        display:none;
      }
      #refresh{
        display:none;
      }
      #caret{
        display:none;
      }*/
    /*#account{
        display: none;
      }
      #logOutId{
        display: none;
      }*/
    /*#acbuttons{
        display: none;
      }*/
    #search
    {
        display: none;
    }
}
.glyphicon glyphicon-user
{
    position: fixed;
    z-index: 1000;
    right: 0;

    overflow-y: auto;

    width: 320px;
    height: 100%;
    margin-right: -320px;

    -webkit-transition: all .4s ease-in-out 0s;
       -moz-transition: all .4s ease-in-out 0s;
        -ms-transition: all .4s ease-in-out 0s;
         -o-transition: all .4s ease-in-out 0s;
            transition: all .4s ease-in-out 0s;

    color: white;
    background: #222;
}
#sidebar-wrapper
{
    width: 200px;
    /*background-color: rgb(51,51,51);*/

    background-color: rgba(6,6,6,1);
}

#wrapper.toggled #sidebar-wrapper
{
    width: 0;
}

#page-content-wrapper
{
    padding: 20px;
}


#wrapper.toggled #page-content-wrapper
{
    position: relative;

    margin-right: 0;
}
#userMsgBox
{
    margin-top: 70px;
    padding: 24px;

    background-color: white;
    /*border :1px solid black;*/
    box-shadow: 0 2px 110px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
#listview
{
    display: none;

    align-content: center;
}

.todotittle
{
    position: absolute;
    z-index: 0;

    padding: 14px;

    pointer-events: none;

    color: rgba(0,0,0,.54);
}
.todocontent
{
    position: absolute;
    z-index: 0;

    padding: 14px;

    pointer-events: none;

    color: rgba(0,0,0,.54);
}
/*#gridcss:hover{
      color:white;
    }*/

#mainMsgBox
{
    /*margin:2px;*/
    /*margin-left: -50px;*/
    width: 84%;
    margin-top: 30px;
}
#delete:hover
{
    color: aqua;
}
#done:hover
{
    color: red;
    background-color: rgba(232, 169, 165, 0.09);
}
#done
{
    float: right;
    color: green;
    border: none;
    outline: none;
    background-color: white;
}
#tglid:hover
{
    color: white;
}
/*.dropdown open{
  background-color: #fb0;
}*/


.dropdown-toggle
{
    background-color: #fb0;
}
.dropdown open
{
    background-color: #fb0;
}
/*#listview1{
  display: none;
}*/
/*#textColor{
color: rgb(252, 248, 227);

}*/
/*#textColor,#gridview,#listcss,#logOutId{
  color: rgb(252, 248, 227);
}*/
#inputid
{
    font-size: 12px;

    color: #eee;
    border-color: transparent;
    border-radius: 0;
    background-color: #313146;
    box-shadow: 0 0;
}
.btn-block
{
    position: relative;

    color: #fff;
    border-color: rgba(182, 189, 182, 0);
    /*border-collapse: separate;*/
    border-radius: 6px;
    background-color: #403232;
}
/*.btn-success:hover{
  color:red;
}*/
/*.btn-success {
    color: #fff;
    background-color: #101010;
    border-color: #101010;
}*/

.glyphicon
{
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    font-style: normal;
    line-height: 1;

    position: relative;
    top: 1px;

    display: inline-block;

    color: grey;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#ab{
  position :relative;
  display: block;
}

#preid
{
    position: relative;

    display: inline-block;
    overflow: hidden;
    /*margin-left: 12%;*/

    box-sizing: border-box;
    width: 88%;
    margin: 4px 4px 4px -2px;
    padding: 0;

    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition-duration: .218s;
            transition-duration: .218s;
    -webkit-transition-property: background,opacity,-webkit-box-shadow,-webkit-transform;
            transition-property: background,opacity,box-shadow,transform;

    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: white;
    box-shadow: 0 0px 0px rgba(0,0,0,88.88), 0 10px 10px rgba(0,0,0,0.22), 0 1px 5px 0 rgba(0,0,0,.12);;

    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22), 0 1px 5px 0 rgba(0,0,0,.12);;*/
    /*box-shadow: 0 0px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);*/
}

#preid1
{
    position: relative;

    display: inline-block;
    overflow: hidden;
    /*margin-left: 12%;*/

    box-sizing: border-box;
    width: 104%;
    margin: 4px;
    padding: 0;

    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition-duration: .218s;
            transition-duration: .218s;
    -webkit-transition-property: background,opacity,-webkit-box-shadow,-webkit-transform;
            transition-property: background,opacity,box-shadow,transform;

    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: white;
    /*box-shadow: 0 0px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);*/
    box-shadow: 0 4px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22), 0 1px 5px 0 rgba(0,0,0,.12);;

}

.modal-content { /*this css is for popup-box*/
  margin-top: 30%;
}




  /*#divtitle{
  margin-top: -10px;
  margin-left: 4px;
}
#noteinner{
  margin-top: -31px;
}
#del{
  margin-top: -15px;
  margin-bottom: -10px;
}*/
/*#innote{
  word-wrap:break-word;
width:400px;
  border-shadow, 2px 2px 2px #888888
}*/
/*#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    position: fixed;
    left: 250px;
    z-index: 1000;
    overflow-y: auto;
    margin-left: -250px;
    width: 0;
    height: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    padding: 15px;
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}*/

/* Sidebar Styles */

/*.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #999999;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}*/


/*/////////////////////////////////////////////
    /*.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      color: #080808;
}*/
/*Panel tabs*/
/*.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}*/


/*
.circular--square {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}*/
