
<body ng-controller="dashboardController">

  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(6,6,6,1);" role="navigation">
    <div class="container-fluid" >
        <div class="navbar-header">
          <a class="navbar-brand" href="#menu-toggle" id="menu-toggle" style="display:inline-block;"><span class="glyphicon glyphicon-list tglid" id="tglid" aria-hidden="true"></span></a>

          <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
              <span id="keepClass">My Keep </span>
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" style="margin-right:12%;" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a><span class="glyphicon glyphicon-refresh" id="textColor" aria-hidden="true" style="margin-left:2%;"></span> </a></li>
          <li>
            <p class="navbar-text" id="textColor">
              <span class="list-style-buttons" id="textColor">
                  <a id="gridview1"><span class="glyphicon glyphicon-th" id="gridgly" ng-style="gridstyle" style="margin-left:4%;" ng-click="gridview()"></a>
                  <a id="listview1"><span class="glyphicon glyphicon-align-justify" id="listgly" ng-style="liststyle" style="display:none;margin-left:5%;" ng-click="listview()" ></a></span></span>
              </span>
            </p>
          </li>


       <li class="dropdown" >
             <a class="dropdown-toggle" data-toggle="dropdown" style="color:grey;">
               <b><span class="glyphicon glyphicon-user" id="caret" ></b>
               <span class="caret" id="caret"></span></a>
             <ul id="login-dp" class="dropdown-menu">
               <li>
                 <div class="row">
                   <div class="col-md-12">

                     <div class="social-buttons" id="acbuttons">
                       <a href="#" class="btn btn-fb"><span class="glyphicon glyphicon-user" id="account">MyAccount</span></a>
                       <a href="#" class="btn btn-tw" id="logOutId" ng-click="logOut()" aria-hidden="true" >
                         <span class="glyphicon glyphicon-off" style="color:black;">Sign out</span>
                       </a>
                     </div>

                   </div>
                 </div>
               </li>
             </ul>
         </li>


           <li ng-controller="profileImageController" class="dropdown" >
                  <a class="dropdown-toggle" data-toggle="dropdown" >
                    <img id="menu" class="circular--square1" src="{{img}}"  alt="{{userinfo.userName.charAt(0) | uppercase}}" style="padding-left: 5px; align-self: center;"/>
                  </a>
                    <div  class="dropdown-menu" style="width:329px;padding-left: 25px;padding-top: 9px;height: 242px; margin-left:-320;margin-right:20%;background: #E8E8E8;">


                     <div class="profile1 row">
                        <img class="circular--square col-sm-6"  src="{{img}}" alt="{{userinfo.userName.charAt(0) | uppercase}}"/></span>
                        <a ng-click="changeProfileImage()">change pic</a>
                        <span style="margin-left:20px;margin-top:16px;">
                          <span style="margin-left:8px;"><b>Name :</b>{{userinfo.userName}}</span><br>
                          <span style="margin-left:28px;"><b>Email :</b>{{userinfo.email}}</span>
                        </span>
                     </div>

                     <div class="profile2">
                        <span style="position: absolute; padding: 14px 0px 0px 32px; font-size: 1.8em; font-weight: bold;">WORK IN PROGRESS
                        </span> <span style="position: absolute; padding: 50px 0px 0px 32px; font-size: 1.2em;"></span>
                        <div class="profile3">
                        </div>
                     </div>
                     <hr>
                       <div class="social-buttons" id="acbuttons" style="margin-left:6%;background: #E8E8E8;">

                         <a><span style="margin-left:25%"></span></a>
                         <a href="#" class="btn btn-tw" style="background: #E8E8E8;border: 1px solid #c6c6c6;" id="logOutId" ng-click="logOut()" aria-hidden="true" >
                           <span class="glyphicon glyphicon-off"  style="color:teal;">Sign out</span>
                         </a>
                       </div>
                  </div>
               </li>

        </ul>
        <form class="navbar-form navbar-right">
          <div class="input-group" id="inputid" style="padding-right:3%;background-color:black;">
            <input type="text" class="form-control" ng-model="search" placeholder="Search..." id="query" name="search" value="" />
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default btn-block" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>



  <div id="wrapper" class="toggled">
    <div class="container-fluid">
      <!-- Sidebar -->
      <div id="sidebar-wrapper" style="margin-top:-19px">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><br> </li>
          <li class="sidebar-brand">
            <a href="#" class="navbar-brand">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
            </a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <font color="#337AB7"> STATISTICS</font>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Reports</a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Statistic</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <font color="#337AB7"> ADMINISTRATION</font>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages</a>
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- for cards -->
      <div id="page-content-wrapper" >
        <!-- <div class="container" style = "border:1px solid black"> -->
        <div class="row" id="msgDivId">
          <div class="col-md-3 col-lg-3 col-sm-3"></div>

            <div class="col-md-6 col-lg-6 col-sm-6">

              <div id="mainMsgBox">
                <div id="title" ng-show="mainNote" ng-click="takeclick()">
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12" type="text" id="dummyTitle" ng-click="mainNote = !mainNote" placeholder="Take a note.." ></div>
                </div>
              </div>

              <div id="userMsgBox" ng-show="dummyNote" class="toggled">
                <div id="title1" newcontenteditable contenteditable="true" ng-model="title" class="userGivenTitle" placeholder="Title" size="50" style="border:none;outline:none;"></div>
                <div id="content" newcontenteditable contenteditable="true" ng-model="note" placeholder="Take a Note.." size="50" style="border:none;outline:none;"></div>

                <!-- <div class="btn-group" uib-dropdown is-open="status.isopen"> -->
                <p id="writeMsg">
                    <i style="margin-left:16px" class="fa fa-hand-pointer-o fa-lg" aria-hidden="true" style="font-size:22px"></i>
                     <i style="margin-left:16px" class="fa fa-user-plus" style="font-size:36px" aria-hidden="true"> </i>
                     <i style="margin-left:16px" class="fa fa-paint-brush fa-lg" style="font-size:22px" aria-hidden="true"></i>
                     <i style="margin-left:16px" class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
                 <!-- <i style="margin-left:16px" class="fa fa-ellipsis-v" aria-hidden="true"></i> -->
                      <button class="btn btn-warning" type="button" id="done" ng-click="savemsgcard()">DONE</button>
                </p>
             </div>
          </div>

          <div class="col-md-3 col-lg-3 col-sm-3"></div>
        </div>

        <!-- <div ng-show="grid"> -->
          <!-- style="border:2px solid green;" -->
          <div class="row" ng-class="gridlist" style="margin-top:34px;">
            <div class="col-sm-2 col-md-2 col-lg-2"> </div>
            <div class="col-sm-10 col-md-10 col-lg-10">

            <div id="innote" ng-if="!x.archive" ng-if="!x.pinup" ng-class="innote" ng-mouseover="icons=true" ng-mouseleave="icons=false" ng-repeat="x in message | filter:search as results track by $index" testpackery >

                <div ng-class="showpreid" style="background-color:{{x.color}}">
                  <div style="padding:2%;">
                    <span class="glyphicon glyphicon-pushpin" ng-click="pinup(x._id)" ng-show="icons" style="float:right;"></span>
                    <div id="divtitle" style="margin-left:2%;"  >
                      <i id="titlecss" ng-click="popup(x)" ng-bind-html = "x.title1"></i>
                    </div>
                    <div id="noteinner" ng-click="popup(x)"  ng-bind-html = "x.content"></div>

                    <div id="footer" >
                        <span ng-show="icons">

                          <i aria-hidden="true">
                            <span  uib-dropdown on-toggle dropdown-append-to-body="true" >
                              <a href uib-dropdown-toggle>
                                  <i id='reminder' uib-popover="Remind me"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" class="fa fa-hand-pointer-o fa-lg"></i>
                              </a>
                              <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                                <li id="fulldrop">
                                        <a id="normal" style="font-size:16px">Reminder:</a>
                                        <a id="drop" ng-click=createReminder(x._id,'today',20) href>Later today<span id="mov" style="margin-left:20%;">20:00</span></a>
                                        <a id="drop" ng-click=createReminder(x._id,'tomorrow',8) href>Tomorrow<span id="mov" style="margin-left:27%;">08:00</span></a>
                                        <a id="drop" ng-click=createReminder(x._id,'nextweek',8) href>Next week<span id="mov" style="margin-left:24%;">08:00</span></a>
                                        <b id="drop" style="margin-left:18px;">Pick Date and Time:</b>
                                        <div class="dropdown" style="width: 50%; padding-top: 10px; padding-bottom: 10px">
                                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                                                  <div class="input-group" style="width:126px;margin-left:18px;">
                                                    <input type="text" class="form-control" data-ng-model="toDo.remainder" name="remainder" placeholder="Pick date & time">
                                                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>
                                                    <a ng-click="createReminder(x._id,toDo.remainder)" ><span id="saveReminder" style="margin-left:56px;color:teal;">Save</span></a>
                                              </a>

                                              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                 <datetimepicker data-ng-model="toDo.remainder" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                                              </ul>
                                          </div>
                                        </li>
                                      </ul>
                                    </span>
                                <i>

                          <i style="margin-left:8px" class="fa fa-user-plus" style="font-size:36px" aria-hidden="true"> </i>

                        <i aria-hidden="true">
                          <span  uib-dropdown on-toggle dropdown-append-to-body="true" style="margin-left:6px;">
                                <a href uib-dropdown-toggle>
                                  <img id='reminder1'  style="width:14px;height:35%" src="../images/color.png" uib-popover="Change color"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" />
                                </a>
                                <div uib-dropdown-menu aria-labelledby="simple-dropdown">
                                    <a id="normal" ng-repeat = "y in color" style="font-size:10px;">
                                          <img ng-src="{{y.path}}" ng-click="changeColor(y.color,x._id)">
                                      </a>
                                  </div>
                            </span>
                          </i>

                          <i style="margin-left:8px" style="font-size:36px" aria-hidden="true">
                            <img id='reminder1'  ng-click="archive(x._id)" style="width:14px;height:35%" src="../images/archive.png" uib-popover="Archive"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" />
                          </i>


                   <i style="margin-left:6px">
                      <span uib-dropdown on-toggle dropdown-append-to-body="true" >
                            <a href uib-dropdown-toggle>
                                <i id='more' uib-popover="More" style="width:16px;height:35%;margin-top:2%" popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" class="fa fa-ellipsis-v"></i>
                            </a>
                            <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                                  <li id="fulldrop">
                                      <a id="delete" ng-click = "deletecards(x._id)">Delete a note</a>
                                      <a id="makeCopy" ng-click = "cardCopy(x)">Make a copy</a>
                                  </li>
                              </ul>
                        </span>
                      </i>

                  </span>
              </div>

                <div ng-if="x.reminder" id="remindercss">
                      <span class="glyphicon glyphicon-time" style="font-size:14px;color:rgba(0, 0, 0, 0.65);">
                            <span style="font-size:12px;">{{x.reminder | date :'MMMM,dd  HH:mm'}} </span>
                      </span>
                      <span class="glyphicon glyphicon-remove-circle" id="removecircle" ng-click = "deleteReminder(x._id)" style="font-size:14px;float:right;"></span>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2"> </div>
    </div>
  </div>

</body>

<script>
// this is for closing collapse icon
  $('#navbar').click('li', function() {
       $('#navbar').collapse('hide');
   });

  //this is for sidebar
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  // <Msg box>
  // $("#userMsgBox").hide();
  // $("#mainMsgBox").click(function() {
  //   $("#dummyTitle").hide();
  //   $("#userMsgBox").show();
  // });
  $("#wrapper").click(function() {
    $("#glyList").css("margin-left", "0px");
    // $("#userMsgBox").show();
  });

</script>

</html>





<!--


        <div ng-show="list">
          <div class="row" id="noteslist">
            <div id="innotelist" class="row" ng-mouseover="icons=true" ng-mouseleave="icons=false" ng-repeat="x in message | filter:search">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
              </div>
              <div id="preid1" style="background-color:{{x.color}}" class="col-lg-8 col-md-8 col-sm-8 col-xs-10 cardhover">
                <div id="divtitle" style="margin-left:1%;"><i id="titlecss"  ng-click="popup(x)" ng-bind-html = "x.title1"></i></div>
                <div id="noteinner" ng-click="popup(x)" ng-bind-html = "x.content"></div>



                <div id="footer" >
                  <span ng-show="icons">

                   <span  uib-dropdown on-toggle dropdown-append-to-body="true" >
                         <a href uib-dropdown-toggle>
                             <i id='reminder' style="width:1%;background-color:transparent;" class="fa fa-hand-pointer-o fa-lg" uib-popover="Remind me"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" ></i>
                           </a>
                           <ul uib-dropdown-menu aria-labelledby="simple-dropdown" style="width:100px;position:absolute;">
                             <li id="fulldrop">
                                     <a id="normal" style="font-size:16px">Reminder:</a>
                                     <a id="drop" ng-click=createReminder(x._id,'today',20) href>Later today<span id="mov" style="margin-left:20%;">20:00</span></a>
                                     <a id="drop" ng-click=createReminder(x._id,'tomorrow',8) href>Tomorrow<span id="mov" style="margin-left:27%;">08:00</span></a>
                                     <a id="drop" ng-click=createReminder(x._id,'nextweek',8) href>Next week<span id="mov" style="margin-left:24%;">08:00</span></a>
                                     <b id="drop" style="margin-left:18px;">Pick Date and Time:</b>
                                    <div class="dropdown" style="width: 50%; padding-top: 10px; padding-bottom: 10px">
                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                                              <div class="input-group" style="width:126px;margin-left:18px;">
                                                <input type="text" class="form-control" data-ng-model="toDo.remainder" name="remainder" placeholder="Pick date & time">
                                                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                  </div>
                                                  <a ng-click="createReminder(x._id,toDo.remainder)" >
                                                    <span id="saveReminder" style="margin-left:50px;color:teal;">Save</span>
                                                  </a>
                                          </a>

                                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                             <datetimepicker data-ng-model="toDo.remainder" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                                          </ul>
                                      </div>
                                  </li>
                             </ul>
                       </span>



                <i style="margin-left:16px" class="fa fa-user-plus" style="font-size:36px" aria-hidden="true"> </i>

                <i aria-hidden="true">
                <span  uib-dropdown on-toggle dropdown-append-to-body="true" >
                      <a href uib-dropdown-toggle>
                          <img id='reminder'  style="width:2%;height:35%" src="../images/color.png" uib-popover="Change color"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" />
                        </a>
                        <div uib-dropdown-menu aria-labelledby="simple-dropdown">
                                  <a id="normal" ng-repeat = "y in color" style="font-size:16px"><img ng-src="{{y.path}}" ng-click="changeColor(y.color,x._id)"></a>
                          </div>
                    </span>
                  </i>


                <i style="margin-left:6px" aria-hidden="true">
                   <span uib-dropdown on-toggle dropdown-append-to-body="true" >
                         <a href uib-dropdown-toggle>
                             <i id='more' uib-popover="More"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" class="fa fa-ellipsis-v"></i>
                         </a>
                         <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                               <li id="fulldrop">
                                   <a id="delete" ng-click = "deletecards(x._id)">Delete a note</a>
                                   <a href="#">Make a copy</a>
                               </li>
                           </ul>
                     </span>
                      </i>
                   </span>

                 </div>

                     <div ng-if="x.reminder" id="remindercss">
                       <span class="glyphicon glyphicon-time" style="font-size:14px;color:rgba(0, 0, 0, 0.65);">
                         <span style="font-size:12px;">{{x.reminder | date :'MMMM,dd  HH:mm'}} </span>
                     </span>
                     <span class="glyphicon glyphicon-remove-circle" id="removecircle" ng-click = "deleteReminder(x._id)" style="font-size:14px;float:right;"></span>
                     </div>

              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 -->
