<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>mykeep</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/dashboard.css">
</head> -->

<body ng-controller="dashboardController">

  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(6,6,6,1);" role="navigation">
    <div class="container-fluid" >
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="margin-right:10%;">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#menu-toggle" id="menu-toggle" style="display:inline-block;"><span class="glyphicon glyphicon-list tglid" id="tglid" aria-hidden="true"></span></a>
      </div>
      <div>
        <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
          <span> <span id="keepClass">My Keep </span></span>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a><span class="glyphicon glyphicon-refresh" id="textColor" aria-hidden="true"></span> </a></li>
          <li>
            <p class="navbar-text" id="textColor">
              <span class="list-style-buttons" id="textColor">
                  <a id="gridview1"><span class="glyphicon glyphicon-th" id="ab" ng-style="gridstyle" style="color:white;" ng-click="gridview()"></a></span>
                  <a id="listview1"><span class="glyphicon glyphicon-align-justify" ng-style="liststyle" style="color:grey;display:none;" ng-click="listview()" ></a></span>
              </span>
            </p>
          </li>
          <!-- <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help</a></li> -->
           <li><a href="#"><span class="glyphicon glyphicon-off" id="logOutId"  aria-hidden="true"></span> </a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="input-group" id="inputid" style="padding-right:3%;background-color:black;">
            <input type="text" class="form-control" ng-model="search" placeholder="Search..." id="query" name="search" value="" />
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default btn-block" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <!-- style="background-color:white;color:#080808;" -->

  <div id="wrapper" class="toggled">
    <div class="container-fluid">
      <!-- Sidebar -->
      <div id="sidebar-wrapper" style="margin-top:-19px">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><br> </li>
          <li class="sidebar-brand">
            <a href="#" class="navbar-brand">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
            </a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <font color="#337AB7"> STATISTICS</font>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Reports</a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Statistic</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <font color="#337AB7"> ADMINISTRATION</font>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages</a>
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- for cards -->
      <div id="page-content-wrapper" >
        <!-- <div class="container" style = "border:1px solid black"> -->
        <div class="row" id="msgDivId">
          <div class="col-md-3 col-lg-3 col-sm-3"></div>

            <div class="col-md-6 col-lg-6 col-sm-6">

              <div id="mainMsgBox">
                <div id="title" ng-show="mainNote" ng-click="takeclick()">
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12" type="text" id="dummyTitle" ng-click="mainNote = !mainNote" placeholder="Take a note.." ></div>
                </div>
              </div>

              <div id="userMsgBox" ng-show="dummyNote" class="toggled">
                <div id="title1" newcontenteditable contenteditable="true" ng-model="title" class="userGivenTitle" placeholder="Title" size="50" style="border:none;outline:none;"></div>
                <div id="content" newcontenteditable contenteditable="true" ng-model="note" placeholder="Take a Note.." size="50" style="border:none;outline:none;"></div>

                <!-- <div class="btn-group" uib-dropdown is-open="status.isopen"> -->
                <p id="writeMsg">
                    <i style="margin-left:16px" class="fa fa-hand-pointer-o fa-lg" aria-hidden="true" style="font-size:22px"></i>
                     <i style="margin-left:16px" class="fa fa-user-plus" style="font-size:36px" aria-hidden="true"> </i>
                     <i style="margin-left:16px" class="fa fa-paint-brush fa-lg" style="font-size:22px" aria-hidden="true"></i>
                     <i style="margin-left:16px" class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
                 <!-- <i style="margin-left:16px" class="fa fa-ellipsis-v" aria-hidden="true"></i> -->
                      <button class="btn btn-warning" type="button" id="done" ng-click="savemsgcard()">DONE</button>
                </p>
             </div>
          </div>

          <div class="col-md-3 col-lg-3 col-sm-3"></div>

        </div>

        <div ng-show="grid">
          <!-- style="border:2px solid green;" -->
          <div class="row" id="notes">
            <div class="col-sm-2 col-md-2 col-lg-2"> </div>
            <div class="col-sm-8 col-md-8 col-lg-8">

            <div class="col-sm-4" id="innotegrid" ng-mouseover="icons=true" ng-mouseleave="icons=false" ng-repeat="x in message | filter:search" >

              <div id="preid" style="background-color:{{x.color}}" class="col-lg-4 col-md-6 col-sm-6 col-xs-12 cardhover">
                <div id="divtitle" style="margin-left:2%;"><i id="titlecss" ng-click="popup(x)" ng-bind-html = "x.title1"></i></div>
                <div id="noteinner" ng-click="popup(x)"  ng-bind-html = "x.content"></div>

                   <div id="footer" >
                     <span ng-show="icons">
                      <span  uib-dropdown on-toggle dropdown-append-to-body="true" >
                            <a href uib-dropdown-toggle>
                                <i id='reminder' uib-popover="Remind me"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" class="fa fa-hand-pointer-o fa-lg"></i>
                              </a>
                              <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                                <li id="fulldrop">
                                        <a id="normal" style="font-size:16px">Reminder:</a>
                                        <a id="drop" ng-click=createReminder(x._id,'today',20) href>Later today<span id="mov" style="margin-left:20%;">20:00</span></a>
                                        <a id="drop" ng-click=createReminder(x._id,'tomorrow',8) href>Tomorrow<span id="mov" style="margin-left:27%;">08:00</span></a>
                                        <a id="drop" ng-click=createReminder(x._id,'nextweek',8) href>Next week<span id="mov" style="margin-left:24%;">08:00</span></a>
                                  </li>
                                </ul>
                          </span>



                          <i style="margin-left:16px" class="fa fa-user-plus" style="font-size:36px" aria-hidden="true"> </i>

                          <span  uib-dropdown on-toggle dropdown-append-to-body="true" style="margin-left:6px;">
                                <a href uib-dropdown-toggle>
                                    <i id='reminder' style="width:1%;" class="fa fa-paint-brush fa-lg" uib-popover="Change color"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" ></i>
                                  </a>
                                  <div uib-dropdown-menu aria-labelledby="simple-dropdown">
                                            <a id="normal" ng-repeat = "y in color" style="font-size:10px;">
                                              <img ng-src="{{y.path}}" ng-click="changeColor(y.color,x._id)">
                                            </a>
                                    </div>
                              </span>

                   <!-- <i style="margin-left:10px" class="fa fa-user-plus" style="font-size:36px" aria-hidden="true"> </i>
                   <i style="margin-left:px" class="fa fa-paint-brush fa-lg" style="font-size:24px" aria-hidden="true"></i> -->
                   <i style="margin-left:16px" class="fa fa-picture-o fa-lg" aria-hidden="true"></i>

                      <span uib-dropdown on-toggle dropdown-append-to-body="true" >
                            <a href uib-dropdown-toggle>
                                <i id='more' uib-popover="More"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" class="fa fa-ellipsis-v"></i>
                            </a>
                            <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                                  <li id="fulldrop">
                                      <a id="delete" ng-click = "deletecards(x._id)">Delete a note</a>
                                      <a id="makeCopy" ng-click = "cardCopy(x)">Make a copy</a>
                                  </li>
                              </ul>
                        </span>
                      </span>
                    </div>

                        <div ng-if="x.reminder" id="remindercss">
                          <span class="glyphicon glyphicon-time" style="font-size:14px;color:rgba(0, 0, 0, 0.65);">
                            <span style="font-size:12px;">{{x.reminder | date :'MMMM,dd  HH:mm'}} </span>
                        </span>
                        <span class="glyphicon glyphicon-remove-circle" id="removecircle" ng-click = "deleteReminder(x._id)" style="font-size:14px;float:right;"></span>
                        </div>

              </div>
            </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
            </div>
            </div>
          </div>
        </div>

        <div ng-show="list">
          <div class="row" id="noteslist">
            <!-- <div class="col-sm-3" style="border:3px solid orange;"></div> -->
            <div id="innotelist" class="row" ng-mouseover="icons=true" ng-mouseleave="icons=false" ng-repeat="x in message | filter:search">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
              </div>
              <div id="preid1" style="background-color:{{x.color}}" class="col-lg-8 col-md-8 col-sm-8 col-xs-10 cardhover">
                <div id="divtitle" style="margin-left:1%;"><i id="titlecss"  ng-click="popup(x)" ng-bind-html = "x.title1"></i></div>
                <div id="noteinner" ng-click="popup(x)" ng-bind-html = "x.content"></div>



                <div id="footer" >
                  <span ng-show="icons">

                   <span  uib-dropdown on-toggle dropdown-append-to-body="true" >
                         <a href uib-dropdown-toggle>
                             <i id='reminder' style="width:1%;background-color:transparent;" class="fa fa-hand-pointer-o fa-lg" uib-popover="Remind me"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" ></i>
                           </a>
                           <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                             <li id="fulldrop">
                                     <a id="normal" style="font-size:16px">Reminder:</a>
                                     <a id="drop" ng-click=createReminder(x._id,'today',20) href>Later today<span id="mov" style="margin-left:20%;">20:00</span></a>
                                     <a id="drop" ng-click=createReminder(x._id,'tomorrow',8) href>Tomorrow<span id="mov" style="margin-left:27%;">08:00</span></a>
                                     <a id="drop" ng-click=createReminder(x._id,'nextweek',8) href>Next week<span id="mov" style="margin-left:24%;">08:00</span></a>
                               </li>
                             </ul>
                       </span>


                <i style="margin-left:16px" class="fa fa-user-plus" style="font-size:36px" aria-hidden="true"> </i>

                <span  uib-dropdown on-toggle dropdown-append-to-body="true" >
                      <a href uib-dropdown-toggle>
                          <i id='reminder' style="width:1%;" class="fa fa-paint-brush fa-lg" uib-popover="Change color"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" ></i>
                        </a>
                        <div uib-dropdown-menu aria-labelledby="simple-dropdown">
                                  <a id="normal" ng-repeat = "y in color" style="font-size:16px"><img ng-src="{{y.path}}" ng-click="changeColor(y.color,x._id)"></a>
                          </div>
                    </span>


                <i style="margin-left:16px" class="fa fa-picture-o fa-lg" aria-hidden="true"></i>


                   <span uib-dropdown on-toggle dropdown-append-to-body="true" >
                         <a href uib-dropdown-toggle>
                             <i id='more' uib-popover="More"  popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'" class="fa fa-ellipsis-v"></i>
                         </a>
                         <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                               <li id="fulldrop">
                                   <a id="delete" ng-click = "deletecards(x._id)">Delete a note</a>
                                   <a href="#">Make a copy</a>
                               </li>
                           </ul>
                     </span>
                   </span>
                 </div>

                     <div ng-if="x.reminder" id="remindercss">
                       <span class="glyphicon glyphicon-time" style="font-size:14px;color:rgba(0, 0, 0, 0.65);">
                         <span style="font-size:12px;">{{x.reminder | date :'MMMM,dd  HH:mm'}} </span>
                     </span>
                     <span class="glyphicon glyphicon-remove-circle" id="removecircle" ng-click = "deleteReminder(x._id)" style="font-size:14px;float:right;"></span>
                     </div>

                <!-- <div id="del"><a id="delete" ng-click = "deletecards(x._id)" >delete</a></div> -->
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
              </div>
            </div>
              <!-- <div class="col-sm-3" style="border:3px solid orange;"></div> -->
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->

  <!-- </div>
  </div> -->
  <!-- /#wrapper -->
</body>

<script>
  $('#mynavbar').click('li', function() {
    $('#mynavbar').collapse('hide');
  });

  //this is for sidebar
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  // <Msg box>
  // $("#userMsgBox").hide();
  // $("#mainMsgBox").click(function() {
  //   $("#dummyTitle").hide();
  //   $("#userMsgBox").show();
  // });
  $("#wrapper").click(function() {
    $("#glyList").css("margin-left", "0px");
    // $("#userMsgBox").show();
  });

</script>

</html>
