<!-- for pop-up -->
<!-- <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <div id="popupTitle" newcontenteditable contenteditable="true" placeholder="Title"></div>
        </h4>
      </div>

      <div class="modal-body">
        <div id="popupContent" contenteditable="true" placeholder="Take a note.."></div>
      </div>

      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
 -->
<div class="modal-header">
  <h3 class="modal-title" newcontenteditable contenteditable="true" ng-model="$ctrl.title1">Title</h3>
</div>
<div class="modal-body" newcontenteditable contenteditable="true" ng-model="$ctrl.content"><span><b></b></span>{{title}} Hi..</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="$ctrl.updateCard();$ctrl.cancel()">Done</button>

  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>

<!-- <form name="popup">
    <div class="modal-demo">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" style="outline:none;font-size:20px;font-weight:bold;font-family:Times New Roman;" contenteditable="true" ng-bind-html="todo.title | nl2br"></h3>
        </div>
        <div class="modal-body" id="modal-body" style="outline:none;font-size:17px;font-family:'Roboto Slab','Times New Roman',serif;" contenteditable="true" style="box-border:none;" ng-bind-html="todo.description | nl2br"></div>
        <div class="modal-footer">
            <label type="submit" ng-disabled="popup.$empty" ng-click="updateTodo(todo);$ctrl.cancel();" required>DONE</label>
        </div>
    </div>
</form> -->
